body {
  background-image: url("../images/cultural/背景1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.title1{
  background-color: rgba(250, 243, 210, 0.5); /* 背景颜色透明度为50% */
  display: flex; /* 使用Flexbox布局 */
  width: 80%;
  margin: 150px auto; /* 水平居中 */
  height: 100px;
  border-radius: 20px;
  margin-bottom: 0;
}
.title1 h1{
  margin: 0px auto; /* 水平居中 */
  text-align: center; /* 文字居中显示 */
  font-family: "楷体", serif; /* 使用楷体字体 */
  font-size: 3.5em; /* 放大文字大小 */
  line-height: 1.9; /* 设置行间距 */
}

.main1 { 
  background-color: rgba(250, 243, 210, 0.5); /* 背景颜色透明度为50% */
  display: flex; /* 使用Flexbox布局 */
  width: 80%;
  margin: 10px auto; /* 水平居中 */
  height: 2200px;
  border-radius: 20px;
  
}

.main1 .box {
  background-color: rgba(210, 247, 250, 0.5);
  display: inline-block;
  vertical-align: top; /* 垂直对齐方式 */
  flex: 0 0 40%; /* 盒子宽度为40% */
  margin: 50px 50px; /* 相邻盒子的间距 */
  border-radius: 20px;
  text-align: center; /* 文字居中显示 */
  font-family: "楷体", serif; /* 使用楷体字体 */
  font-size: 1.1em; /* 放大文字大小 */
  line-height: 1.9; /* 设置行间距 */
}

.main1 .box p {
  text-indent: 2em; /* 设置首行缩进为两个空格 */
  text-align: left; /* 文字左对齐 */
  margin: 0px 15px;
}


.main2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 四列 */
  grid-template-rows: auto auto; /* 两行 */
  gap: 20px;
  margin: 50px 80px; /* 相邻盒子的间距 */
  height: 1200px;
}

.title2 {
  grid-column: 1 / span 1; /* 标题占据第一列 */
  grid-row: 1 / span 2; /* 标题占据两行 */
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
}
.title2 h1{
  margin: 0px auto; /* 水平居中 */
  text-align: center; /* 文字居中显示 */
  font-family: "楷体", serif; /* 使用楷体字体 */
  font-size: 3.0em; /* 放大文字大小 */
  line-height: 1.8; /* 设置行间距 */
  writing-mode: vertical-rl; /* 垂直展示文字 */
}

.box2 {
  background-color: rgba(234, 255, 193, 0.5);
  text-align: center; /* 文字居中显示 */
  font-family: "楷体", serif; /* 使用楷体字体 */
  font-size: 1em; /* 放大文字大小 */
  line-height: 1.7; /* 设置行间距 */
  height: 550px;
}
 .box2 p {
  text-indent: 2em; /* 设置首行缩进为两个空格 */
  text-align: left; /* 文字左对齐 */
  margin: 0px 15px;
}

/* “返回顶部”按钮的样式 */
.top-button {
  position: fixed; /* 按钮位置固定 */
  bottom: 20px; /* 距离底部20像素 */
  right: 20px; /* 距离右侧20像素 */
  cursor: pointer; /* 鼠标悬停时显示指针，表示可点击 */
  display: none; /* 默认不显示按钮，通常通过JavaScript在滚动时显示 */
}

/* 定义整个HTML文档的滚动行为 */
html {
  scroll-behavior: smooth; /* 设置平滑滚动效果 */
}
