/* 设置整个页面的背景，不重复，覆盖整个背景区域，固定不滚动 */
body {
  background-image: url("../images/theatrical/背景2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0; /* 无外边距 */
  padding: 0; /* 无内边距 */
}

/* 设置一个具有圆角和阴影效果的容器 */
.shell {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.25);
}

/* 设置图片容器的样式 */
.images {
  width: 500%;
  height: 100%;
  display: flex;
  position: absolute;
  transition: .2s;
}

/* 设置图片的基础样式，包括背景尺寸的覆盖 */
.img {
  width: 100%;
  background-size: cover;
}

/* 为每个子图片元素设置特定的背景图 */
.img:nth-child(1) { background-image: url("../images/theatrical/1.webp"); }
.img:nth-child(2) { background-image: url("../images/theatrical/2.webp"); }
.img:nth-child(3) { background-image: url("../images/theatrical/3.webp"); }
.img:nth-child(4) { background-image: url("../images/theatrical/4.webp"); }
.img:nth-child(5) { background-image: url("../images/theatrical/5.webp"); }

/* 设置图片下方的小圆点导航样式 */
.min {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 40px;
  width: 30%;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

.m {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: #fff;
}

/* 设置左右两侧的切换按钮样式 */
.button {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.button-left,
.button-right {
  font-size: 50px;
  background-color: rgba(160, 193, 255, 0.2);
  padding: 0 20px;
  cursor: pointer;
  line-height: 700px;
  color: #fff;
}

/* 设置图片和文本内容的容器样式 */
.container {
  display: flex;
  margin: 80px;
  justify-content: space-between;
  overflow: hidden;
}

/* 设置每个图片展示框的样式 */
.pic {
  flex: 1;
  margin: 0 40px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* 鼠标悬停时图片放大并增加阴影效果 */
.pic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 设置文本框的样式 */
.text {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: kaiti;
  overflow: hidden;
}

/* 设置文本框内的标题和段落样式 */
.text h2 {
  margin: 10px;
  font-size: 40px;
}

.text p {
  margin: 10px;
  font-size: 30px;
}

/* 设置图片容器的样式 */
.image {
  margin: 0;
  padding: 0;
  width: 100%;
}

.image img {
  width: 100%;
}

/* 设置链接的默认样式和悬停效果 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

/* 设置文本展示区的样式 */
.wen {
  font-family: kaiti;
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.wenin {
  padding: 20px;
  width: 60%;
  text-align: center;
}

/* 设置章节标题的样式 */
.section h1 {
font-size: 50px;
}

.section h2 {
  font-size: 35px;
}

.section p {
  line-height: 2; /* 行间距为2 */
  font-size: 25px;
}

/* 设置回到页面顶部按钮的样式 */
.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}

/* 设置页面滚动行为 */
html {
  scroll-behavior: smooth;
}
